$colorPrimary: #333;
@import "components/navbar";
@import "components/buttons";
@import "components/panel";
@import "components/loading";
@import "components/print";
body {
  padding-bottom: 20px;
  background: #FAFAFA;
  @media (min-width: 768px) {
    padding-top: 15px;
  }
}
footer {
  p {
    display: block;
    text-align: center;
    font-size: 0.7em;
    border-top: solid 1px #EEE;
    color: #666;
    margin: 0;
    padding-top: 7px;
  }
}
section {
  min-height: 400px;
}
a {
  // color: $colorPrimary;
}
.navbar {
  margin: 0 0 7px;
  .navbar-brand {
    color: #EEE !important;
    min-width: 180px;
    line-height: 0.9em;
    padding-top: 13px;
    padding-bottom: 5px;
    border-right: solid 1px darken($colorPrimary,5%);
    small {
      display: block;
      font-size: 10px;
      color: lighten($colorPrimary,35%);
    }
    i {
      float: left;
      margin: -2px 2px 0 -8px;
      font-size: 1.8em;
      color: #FAFAFA;
    }
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
.btn {

  // border-radius: 0;
}
.btn-toolbar,
.breadcrumb {
  margin: 0 0 7px;
  background: #F3F3F3;
  border: solid 1px #EEE;
  padding: 5px;
  border-radius: 5px;
  .btn-group:first-child {
    margin-left: 0;
  }
}
.empty {
  text-align: center;
  font-size: 2em;
  background: #EEE;
  border: solid 1px #DDD;
  border-radius: 5px;
  padding: 25px 0;
  color: #AAA;
}
.input-xs {
  padding: 0 5px;
  height: 22px;
}
.modal-footer {
  padding: 7px 15px;
}
.control-label {
  font-size: 1.2em;
  font-weight: 400;
}
.container-login {
  width: 100%;
  padding: 5px;
  @media (min-width: 300px) {
    padding-top: 25px;
    width: 300px;
  }
  .panel {
    border: solid 1px #FFF;
    box-shadow: 0 0 15px #CCC;
  }
}
.modal-md {
  @media (min-width: 500px) {
    margin: 30px auto;
    width: 450px;
  }
}
