<div class="btn-toolbar">
  <div class="btn-group btn-group-xs">
    <button class="btn btn-primary" ng-click="vm.AddPList()">
      <span class="fa fa-plus fa-fw"></span> New List
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-8" ng-class="{loading:vm.loading}">

    <div class="empty" ng-if="!vm.PLists.length && !vm.loading">
      No participants lists yet
    </div>

    <div class="list-group" ng-if="vm.PLists.length">
      <div class="list-group-item" ng-repeat="PList in vm.PLists">
        <a href="" ng-click="vm.DeletePList(PList)" class="text-danger pull-right"><i class="fa fa-trash"></i></button>
        <a href="" ng-click="vm.ViewPList(PList)">
          <h4 class="list-group-item-heading">{{::PList.Name}}</h4>
        </a>
        <p class="list-group-item-text">Created at {{::PList.CreatedAt|date:'short'}}, with {{::PList.Participants.length}} participants</p>
      </div>
    </div>

  </div>

  <div class="col-sm-4">
    <pre>{{vm.PLists|json:2}}</pre>
  </div>

</div>
